<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/static/ku.css" />
</head>
<body>
<div id="ku_container">
    <div id="settings-form">
        <form>
        <p>
            <label for="PreferSDCard">Prefer SD Card: </label>
            <input type="checkbox" id="PreferSDCard" name="PreferSDCard" {{if .KuConfig.PreferSDCard}}checked{{end}}><br>
        </p>
        <p>
            <label for="PreferKepub">Prefer kepub: </label>
            <input type="checkbox" id="PreferKepub" name="PreferKepub" {{if .KuConfig.PreferKepub}}checked{{end}}><br>
        </p>
        <p>
            <label for="EnableDebug">Enable Debug: </label>
            <input type="checkbox" id="EnableDebug" name="EnableDebug" {{if .KuConfig.EnableDebug}}checked{{end}}><br>
        </p>
        <p>
            <label for="AddMetadataByTrigger">Use Database Trigger: </label>
            <input type="checkbox" id="AddMetadataByTrigger" name="AddMetadataByTrigger" {{if .KuConfig.AddMetadataByTrigger}}checked{{end}}><br>
        </p>
        <p>
            <label for="GenerateLevel">Thumbnail Level: </label>
            <select id="GenerateLevel" name="GenerateLevel">
                <option value="all" {{if eq .KuConfig.Thumbnail.GenerateLevel "all" }}selected{{end}}>All</option>
                <option value="partial" {{if eq .KuConfig.Thumbnail.GenerateLevel "partial" }}selected{{end}}>Partial</option>
                <option value="none" {{if eq .KuConfig.Thumbnail.GenerateLevel "none" }}selected{{end}}>None</option>
            </select><br>
        </p>
        <p>
            <label for="ResizeAlgorithm">Resize Algorithm: </label>
            <select id="ResizeAlgorithm" name="ResizeAlgorithm">
                <option value="bilinear" {{if eq .KuConfig.Thumbnail.ResizeAlgorithm "bilinear" }}selected{{end}}>Bilinear</option>
                <option value="bicubic" {{if eq .KuConfig.Thumbnail.ResizeAlgorithm "bicubic" }}selected{{end}}>Bicubic</option>
                <option value="lanczos2" {{if eq .KuConfig.Thumbnail.ResizeAlgorithm "lanczos2" }}selected{{end}}>Lanczos2</option>
                <option value="lanczos3" {{if eq .KuConfig.Thumbnail.ResizeAlgorithm "lanczos3" }}selected{{end}}>Lanczos3</option>
            </select><br>
        </p>
        <p>
            <label for="JpegQuality">JPEG Quality (0-100): </label>
            <input type="number" id="JpegQuality" name="JpegQuality" min="0" max="100" value="{{.KuConfig.Thumbnail.JpegQuality}}"><br>
        </p>
            <br>
        <p>
            <label for="updateConfig">Update Config? </label>
            <input type="checkbox" id="updateConfig" name="updateConfig" checked><br>
        </p>
        <p>    
            <input type="submit" value="Start!" formaction="/start" formmethod="post">
            <button id="exit_btn" type="button" onclick="window.location = '/exit';">Exit</button>
        </p>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/ku.js"></script>
<script type="text/javascript">

    window.onload = function() {
        setKoboSizes({{.Device.DisplayPPI}});
    };
    window.onresize = function() {
        setKoboSizes({{.Device.DisplayPPI}});
    }
</script>
</body>
</html>