<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Kobo UNCaGED</title>
    <link rel="stylesheet" type="text/css" href="/static/ku.css" />
    <link rel="stylesheet" type="text/css" href="/static/html_input.css" />
</head>

<body>
    <div id="kuhead">
        <h4>Using {{.StorageType}}</h4>
    </div>
    <div id="kuapp">
        <!-- Config screen -->
        <div id="kuconfig" style="display: none;">
            <div class="ku-cfg-row">
                <label for="preferSDCard" data-help-text="Prefer saving books to external SD card when available.">
                    Prefer SD Card
                </label>
                <input type="checkbox" id="preferSDCard" name="preferSDCard">
            </div>
            <div class="ku-cfg-row">
                <label for="preferKepub" data-help-text="Prefer sending kepub over epub when both are available">
                    Prefer kepub
                </label>
                <input type="checkbox" id="preferKepub" name="preferKepub">
            </div>
            <div class="ku-cfg-row">
                <label for="enableDebug" data-help-text="Enable debug logging">
                    Enable Debug
                </label>
                <input type="checkbox" id="enableDebug" name="enableDebug">
            </div>
            <div class="ku-cfg-row">
                <label for="generateLevel" data-help-text="Pre-generate thumbnails if set to 'All' or 'Partial'. 
                'Partial' generates library thumbnails, 'All' additionally generates the sleep thumbnail. 
                Set 'None' to get Nickel to generate thumbnails">
                    Generate thumbnail level
                </label>
                <select id="generateLevel" name="generateLevel">
                    <option value="all">All</option>
                    <option value="partial">Partial</option>
                    <option value="none">None</option>
                </select>
            </div>
            <div class="ku-cfg-row">
                <label for="resizeAlgorithm" data-help-text="Algorithm used to resize thumbnails. 'Bilinear' is fastest, 'Lanczos3' is slowest.">
                    Thumbnail Resize Algorithm
                </label>
                <select id="resizeAlgorithm" name="resizeAlgorithm">
                    <option value="bilinear">Bilinear</option>
                    <option value="bicubic">Bicubic</option>
                    <option value="lanczos2">Lanczos2</option>
                    <option value="lanczos3">Lanczos3</option>
                </select>
            </div>
            <div class="ku-cfg-row">
                <label for="jpegQuality" data-help-text="The JPEG compression quality. Range is 0-100, higher is better.">
                    Thumbnail JPEG Quality
                </label>
                <input type="number" id="jpegQuality" name="jpegQuality" min="50">
            </div>
            <div class="ku-cfg-row-conn">
                <label for="directConn" data-help-text="Set direct connection rather than auto-discover.">
                    Connect To
                </label>
                <div class="ku-cfg-cell-conn">
                    <select id="directConn" name="directConn" data-event-conn-sel="false">
                        <option>Auto Discover</option>
                    </select>
                    <button type="button" id="cfgAddConn" data-event-conn-add="false">+</button>
                    <button type="button" id="cfgDelConn" data-event-conn-delete="false">&#8722;</button>
                </div>
            </div>
             <div class="ku-cfg-fmt-row">
                <div id="excludeFormatsLabel" data-help-text="Set of supported formats to send to Calibre">
                    Supported Formats
                </div>
                <div id="excludeFormatsContainer">
                    {{range .SupportedFormats}}
                        <div class="formatChk">
                            <input type="checkbox" id="format_{{.}}" name="format_{{.}}">
                            <label for="format_{{.}}">{{.}}</label>
                        </div>
                    {{end}}
                </div>
            </div>
            <div class="ku-cfg-row ku-cfg-buttons">
                <button type="button" id="cfgStartBtn" data-event-start="false">Start</button>
                <button type="button" id="cfgExitBtn" data-event-exit="false">Exit</button>
            </div>
            <div class="ku-cfg-help" id="cfgHelp"></div>
        </div>
        <!-- Message display -->
        <div id="kumessage" style="display: none;">
            <div id="ku-lib-opts">
                <label for="kuSubtitleColumn">Subtitle Column</label>
                <select id="kuSubtitleColumn", name="kuSubtitleColumn" disabled>
                </select>
            </div>
            <div id="ku-msgbox"></div>
            <progress id="ku-progress" max="100" style="visibility: hidden;"></progress><br>
            <button type="button" id="cfgDisconnectBtn" data-event-disconnect="false">Disconnect</button>
        </div>
        <!-- Auth dialog -->
        <div id="kuauth" style="display: none;">
            <h3 id="authLibName"></h3>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" data-event-auth-login-ent="false"><br>
            <button type="button" id="authLoginBtn" data-event-auth-login="false">Login</button>
        </div>
        <!-- Connection dialog -->
        <div id="kudirectconn" style="display: none;">
            <h3>Add Connection</h3>
            <div class="ku-conn-row">
                <label for="connName">Name</label>
                <input type="text" id="connName" name="connName">
            </div>
            <div class="ku-conn-row">
                <label for="connHost">Host</label>
                <input type="text" id="connHost" name="connHost">
            </div>
            <div class="ku-conn-row">
                <label for="connPort">Port</label>
                <input type="number" id="connPort" name="connPort">
            </div>
            <div id="ku-conn-missing" style="display: none;">
                All fields required!
            </div>
            <div class="ku-conn-row">
                <button type="button" id="connOkBtn" data-event-conn-ok="false">Ok</button>
                <button type="button" id="connCancelBtn" data-event-conn-cancel="false">Cancel</button>
            </div>
        </div>
        <!-- Instance selection dialog -->
        <div id="kuinstances" style="display: none;">
            <ul id="calInstanceList" data-event-instances="false"></ul>
        </div>
        <!-- Exit screen -->
        <div id="kuexit" style="display: none;"></div>
    </div>
    <div id="kufoot">
        <p>{{.KUVersion}}</p>
    </div>
    <script type="text/javascript">
        var kuInfo = {
            screenDPI: {{.ScreenDPI}},
            exitPath: {{.ExitPath}},
            disconnectPath: {{.DisconnectPath}},
            authPath: {{.AuthPath}},
            ssePath: {{.SSEPath}},
            configPath: {{.ConfigPath}},
            instancePath: {{.InstancePath}},
            libInfoPath: {{.LibInfoPath}}
        }
    </script>
    <script type="text/javascript" src="/static/ku.js"></script>
</body>

</html>
