<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kobo-UNCaGED</title>
    <link rel="stylesheet" type="text/css" href="/static/ku.css" />
</head>
<body>
<div id="ku_container">
    <h2 id="main_title">Kobo UNCaGED</h2>
    <h3 id="main_storage_type">Using {{if .UseSDCard}}external SD card{{else}}internal storage{{end}}</h3>
    <div id="ku_body"></div>
    <progress id="ku_prog" value="0" max="100"></progress>
    <div id="ku_footer"></div>
    <div id="ku_version">{{.KuVers}}</div>

    <!-- Auth modal -->
    <div id="cal_auth_modal" class="modal">
        <div class="modal-content">
            <h3 id="cal_auth_title" class="modal-header"></h3>
            <p class="modal-label">Password</p>
            <input type="password" id="cal_auth_pw"><br>
            <button id="cal_auth_login">Login</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/ku.js"></script>
<script type="text/javascript">
    var calAuth;
    var authPath;
    var authModal = document.getElementById("cal_auth_modal");
    var authPW = document.getElementById("cal_auth_pw");
    var authLogin = document.getElementById("cal_auth_login");
    var evtSource = new EventSource("/messages");
    evtSource.addEventListener("body", function (event) {
        setDivContent("ku_body", event.data);
    });
    evtSource.addEventListener("footer", function (event) {
        setDivContent("ku_footer", event.data);
    });
    evtSource.addEventListener("progress", function (event) {
        if (event.data >= 0 && event.data <= 100) {
            showProgress();
            setProgress(event.data);
        } else {
            hideProgress();
        }
    });
    evtSource.addEventListener("password", function (event) {
        authPath = event.data
        getPassword();
    });

    function hideProgress() {
        var prog = document.getElementById("ku_prog");
        if (prog.style.display !== "none") {
            prog.style.display = "none";
        }
    }
    function showProgress() {
        var prog = document.getElementById("ku_prog");
        if (prog.style.display === "none") {
            prog.style.display = "block";
        }
    }
    function setProgress(p) {
        var prog = document.getElementById("ku_prog");
        prog.setAttribute("value", p);
    }
    function setDivContent(idName, content) {
        var el = document.getElementById(idName);
        el.innerHTML = content;
    }
    function getPassword() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', authPath);
        xhr.onload = function() {
            if (xhr.status === 200) {
                calAuth = JSON.parse(xhr.responseText);
                document.getElementById("cal_auth_title").innerHTML = calAuth.libName;
                authModal.style.display = "block";
            }
            else {
                console.log('Request failed.  Returned status of ' + xhr.status);
            }
        };
        xhr.send();
    }
    authLogin.onclick = function() {
        calAuth.password = authPW.value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', authPath);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 205) {
                authPW.value = "";
                authModal.style.display = "none";
            } else {
                console.log('Unexpected status code. Expected 205, got ' + xhr.status);
            }
        }
        xhr.send(JSON.stringify(calAuth));
    };

    window.onload = function () {
        setKoboSizes({{.Device.DisplayPPI}})
        hideProgress();
        setDivContent("ku_head", " ");
        setDivContent("ku_body", " ");
        setDivContent("ku_footer", " ");
    }
    window.onresize = function() {
        setKoboSizes({{.Device.DisplayPPI}});
    }
</script>
</body>
</html>